@font-face {
  font-family: "Bayshore";
  src: url("./fonts/Bayshore.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --main-color: #c5ac47;
  --main-white: #fff;
  --main-black: #000;
}
.container {
  background-color: var(--main-black);
  width: 100vw;
  height: 100vh;
  font-family: ;
  color: var(--main-white);
  font-family: "Lato";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner {
  position: relative;
  border: 6px solid var(--main-color);
  width: 600px;
  height: 600px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-wrapper {
  position: absolute;
  left: -100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 900px;
  background-color: #000;
  top: 50%;
  transform: translate(50%, -50%);
}

.title {
  font-family: "Bayshore";
  margin: 0;
  font-size: 10rem;
  font-weight: 500;
}

.sub-title {
  text-transform: uppercase;
  background-color: var(--main-color);
  font-size: 32px;
  font-weight: 700;
  font-family: "Lato";
}

.contact {
  font-size: 48px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 32px;
  text-decoration: none;
  color: var(--main-white);
  letter-spacing: 5px;
  font-weight: 700;
}

.contact-mail {
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
  width: 100%;
  display: block;
  color: var(--main-white);
  letter-spacing: 5px;
  font-weight: 700;
  text-decoration: none;
}

.description {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  color: var(--main-white);
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

.description-danger {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  color: #ca2828;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 50px;
}
